@import url(https://fonts.googleapis.com/css?family=Fauna+One|Bitter:400,700);

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

body {
  font-family: 'Fauna One';
  background-color: #EEE8D6;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bitter';
  font-size: 2.2em;
  color: #344D5B;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}

.container {
    padding: 20px;
}

.branding {
  background-color: #EEC856;
}

.branding h1 {
  background-image: url(../images/cog.svg);
  background-size: 55px 55px;
  background-position: 40px center;
  background-repeat: no-repeat;
  font-size: 40px;
  color: #37A198;
  padding: 10px 0 10px 100px;
}


input {
  font-family: 'Fauna One';
  font-size: 1.3em;
	display: inline-block;
	width: 100%;
	padding: 10px;
	color: #475B62;
	background: rgba(255,255,255,0.5);
	border: 1px solid white;
	border-radius: 10px;
	outline: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: #FCF4DC;
    background-color: #C61C6F;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

a {
  color: #2D8BCF;
}

a.btn {
  padding: 6px 12px;
  margin-top: 20px;
  color: white !important;
}

.btn:hover { background-color: #DC322F; }

input {
	margin-top: 10px;
}

p.error {
	margin-top: 5px;
	padding-top: 0;
	font-weight: bold;
	color: #D14348;
}

.ng-invalid .btn {
  background: gray;
}
