<section>
  <form name="myform"
    ng-submit="register()"
    novalidate>

    <h1>Register</h1>
    <p>To access site features</p>

    <input type="myname" name="myname" placeholder="Name"
      ng-model="user.myname" ng-required="true">
    <p class="error"
      ng-show="myform.myname.$invalid && myform.myname.$touched">
      First Name is required</p>

    <input type="email" name="myEmail" placeholder="Email"
      ng-model="user.myEmail" ng-required="true">
    <p class="error"
      ng-show="myform.myEmail.$invalid && myform.myEmail.$touched">
      Must be a valid email</p>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">Register</button>
  </form>

  <ul class="userlist">
    <li ng-repeat="(key, user) in users">
      <button class="btn btn-delete tooltip"
        confirmation-needed="Sure you want to delete the Checkin?"           
        ng-click="deleteReg(user.$id)">
        <span>{{user.date | date:"h:mm:ss a"}}</span></button>
    <a href="mailto:{{user.email}}">{{user.name}}</a>
    </li>
  </ul><!-- Meetings List -->
</section>